.classpath
bin/
.project
.settings/
logs/
.gradle/
out/
*.iml
*.ipr
*.iws
.DS_Store
build/
work/
.vagrant/
*.metadata
*.pyc
.idea/
*.rar
*.exe
temp/
activemq-jsonData/
classes/
sonar-project.properties
.sonar/